
params.custom_config_base = "."
includeConfig("${params.custom_config_base}/nfcore_custom.config")

// Add your main pipeline parameters here
params {
    // Input parameters
    reads = null
    transcripts = null
    genomes = null
    database_dir = null
    
    // Funannotate-specific parameters
    buscoseed = 'anidulans'
    species = "Ascomycota"
    buscodb = 'fungi'
    organism = 'fungus'   
    ploidy = 1
    max_intron_len = 15000
    numbering = 20000
    iso_name = "M3"
    name_anno = "PtmM3_"
    
    // Output directory
    outdir = "results"
    
    // RNABloom specific parameters
    transcript_extension = "*.fa"
    deduplicate_transcripts = false

    genemark_path = null

}

// Base process configuration
process {
    // Default container settings
    withName: 'RNABLOOM_ASSEMBLE' {
        container = 'https://depot.galaxyproject.org/singularity/rnabloom:2.0.0--hdfd78af_0'
    }
    
    withName: 'FUNANNOTATE_CLEAN' {
       container = 'nextgenusfs/funannotate:v1.8.17'
       publishDir = [
           path: "${params.outdir}/funannotate_clean",
           mode: 'copy'
       ]
    }
    
    withName: 'FUNANNOTATE_SETUP_DB|FUNANNOTATE_PREDICT|FUNANNOTATE_CLEAN|FUNANNOTATE_ANNOTATE' {
        container = 'nextgenusfs/funannotate:v1.8.17'
    }
    
    withName: 'SEQKIT_CLEAN_HEADERS|CONCAT_DEDUPLICATE_TRANSCRIPTS' {
        container = 'https://depot.galaxyproject.org/singularity/seqkit:2.9.0--h9ee0642_0'
    }

    withName: 'FUNANNOTATE_SETUP_DB|FUNANNOTATE_PREDICT|FUNANNOTATE_ANNOTATE' {
        container = 'nextgenusfs/funannotate:v1.8.17'
        containerOptions = {
            def db = params.database_dir 
                ? "${params.database_dir}"
                : "${launchDir}/${params.outdir}/funannotate_db/funannotate_db"
             "--bind ${db}:/funannotate_db"
    }
}

    withName: 'FUNANNOTATE_PREDICT' {
        container = 'nextgenusfs/funannotate:v1.8.17'
        containerOptions = "--bind ${launchDir}/${params.outdir}/funannotate_db/funannotate_db:/funannotate_db"
        publishDir = [
            path: "${params.outdir}/funannotate_predict",
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'FUNANNOTATE_SETUP_DB|FUNANNOTATE_PREDICT|FUNANNOTATE_ANNOTATE' {
    container = 'nextgenusfs/funannotate:v1.8.17'
    containerOptions = {
        def db = params.database_dir
            ? "${params.database_dir}"
            : "${launchDir}/${params.outdir}/funannotate_db/funannotate_db"
        def binds = "--bind ${db}:/funannotate_db"
       }
    }
    withName: 'SEQKIT_CLEAN_HEADERS|CONCAT_DEDUPLICATE_TRANSCRIPTS' {
        container = 'https://depot.galaxyproject.org/singularity/seqkit:2.9.0--h9ee0642_0'
        publishDir = [
            path: "${params.outdir}/seqkit",
            mode: 'copy'
        ]
    }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Capture Nextflow log files
timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline.html"
}
report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
}
trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace.txt"
}
dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_dag.svg"
}
