params.custom_config_base = "."
includeConfig("${params.custom_config_base}/nfcore_custom.config")

// Add your main pipeline parameters here
params {
    // Input parameters
    reads = null
    transcripts = null
    genomes = null
    database_dir = null
    
    // Funannotate-specific parameters
    buscoseed = 'anidulans'
    species = "Ascomycota"
    buscodb = 'fungi'
    organism = 'fungus'
    ploidy = 1
    
    // Output directory
    outdir = "results"
    
    // RNABloom specific parameters
    transcript_extension = "*.fa"
    deduplicate_transcripts = false

    // BRAKER3-specific parameters
    reads_for_mapping = null        // CSV file with RNA-seq reads for mapping
    gtf_file = null                // GTF file for STAR alignment (optional)
    protein_sequences = null        // Protein sequences for BRAKER3
    hints_file = null              // Hints file for BRAKER3
    rnaseq_sets_dirs = null        // RNA-seq sets directories
    rnaseq_sets_ids = null         // RNA-seq sets IDs
}

// Base process configuration
process {
    // Default container settings
    withName: 'RNABLOOM_ASSEMBLE' {
        container = 'https://depot.galaxyproject.org/singularity/rnabloom:2.0.0--hdfd78af_0'
    }
    
    withName: 'FUNANNOTATE_SETUP_DB|FUNANNOTATE_PREDICT|FUNANNOTATE_CLEAN|FUNANNOTATE_ANNOTATE' {
        container = 'nextgenusfs/funannotate:v1.8.17'
    }
    
    withName: 'SEQKIT_CLEAN_HEADERS|CONCAT_DEDUPLICATE_TRANSCRIPTS' {
        container = 'https://depot.galaxyproject.org/singularity/seqkit:2.9.0--h9ee0642_0'
    }

    withName: 'BRAKER3' {
        container = 'docker.io/teambraker/braker3:v3.0.7.5'
        cpus = 24
        memory = '64 GB'
        time = '48h'
    }
    
    withName: 'STAR_GENOMEGENERATE' {
        // must contain gawk and samtools
        container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/26/268b4c9c6cbf8fa6606c9b7fd4fafce18bf2c931d1a809a0ce51b105ec06c89d/data'
        cpus = 8
        memory = '32 GB'
        time = '4h'
    }
    
    withName: 'STAR_ALIGN' {
        container = 'https://depot.galaxyproject.org/singularity/mulled-v2-1fa26d1ce03c295fe2fdcf85831a92fbcbd7e8c2:1df389393721fc66f3fd8778ad938ac711951107-0'
        cpus = 24
        memory = '32 GB'
        time = '8h'
    }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Capture Nextflow log files
timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline.html"
}
report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
}
trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace.txt"
}
dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_dag.svg"
}
